.App{
  display: grid;

  grid-template-columns: 100px 1fr;
  grid-template-rows: 2fr 10fr;
  grid-template-areas: "h h" "n c";
}
.content{
  grid-area: c;
  background-color: rgb(186, 188, 197);
}


